@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:900&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(22, 22, 22);
}
a{
  text-decoration: none;
}
.sidenavigation{
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  left:0;
}
.title-artisr{
  color:white;
  margin: 30px 10px 0px 10px;
  font-size: 28px;
}
#sign-up-btn{
  margin: 300px 0px;
  background:white;
  color:black;
  border: 1px solid white;
  border-radius: 100px;
  width:150px;
  font-size: 15px;
}
#login-btn{
  margin: 200px 0px;
  background:black;
  color:white;
  border: 1px solid white;
  border-radius: 100px;
  width:150px;
  font-size: 15px;
}
.home-container{
  background: linear-gradient(90deg, #1C3C64, #060D16 100%);
  margin-left: 55px;
  width: auto;
  min-height: 100vh;
  padding: 50px 120px;
}
.song-container{
  background: linear-gradient(90deg, rgb(16, 23, 32), #060D16 100%);
  margin-left: 55px;
  width: auto;
  min-height: 100vh;
  padding: 80px 160px;
}
.artist-container{
  background: rgb(14, 14, 14);
  margin-left: 55px;
  width: auto;
  min-height: 100vh;
}
.phantom-player{
  display: block;
  padding: 20px;
  height: 15%;
}
.footer-player-box{
  background-color: #252526;
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 15%;
  width: 100vw
}
.card-single {
  width: 180px;
  height: 250px;
  font-size: 15px;
  padding: 5px;
  margin: 10px 10px;
  background-color: rgba(15, 15, 15,0.6) !important;
}
.main-navbar{
  background: linear-gradient(90deg, #1C3C64, #060D16 100%);
}
.main-nav{
  margin-left: 480px;
}
.card-title-single, .card-subtitle-single{
  color:rgba(255,255,255,0.6) !important;
}
.card-title-single{
  color:rgba(255,255,255,0.9) !important;
}
.card-subtitle-single{
  font-size: 13px;
}
.song-title-page{
  font-size: 30px;
  letter-spacing: 1px;
  font-family: 'Fjalla One', sans-serif;
  color:white;
  text-transform: uppercase;
}
.card-body-page{
  text-align: center;
}
.song-artist-page{
  font-size: 12px;
  color: rgba(255,255,255,0.5)
}
.song-btn{
  width: 120px !important;
  height: 30px !important;
  border-radius: 30px !important;
  background: #00C24B !important;
  border: none !important;
  color:white !important;
  font-size: 14px !important;
}
.date-and-number{
  padding: 5px 0px 0px 0px;
  font-size: 12px;
  color: rgba(255,255,255,0.5)
}
.card-page{
  margin: 0 !important;
  background: none !important;
  border: none !important;
}
.col-track{
  /* padding-left: 30px; */
  padding:0 !important;
}
.track-title{
  font-size: 12px;
  color: rgba(255,255,255,0.8)
}
.track-artisr{
  font-size: 9px;
  color: rgba(255,255,255,0.5)
}
.main-nav-link{
  color:rgba(255,255,255,0.4) !important;
  text-transform: uppercase;
  font-size: 12px;
}
.main-nav-link:hover{
  color:rgba(255,255,255,0.7) !important;
}
.track-col{
  margin-left: 30px;
}
.artist-name{
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  padding-top: 160px;
}
.btn-play{
  width: 120px;
  background-color: #00C24B !important;
  border-radius: 100px !important;
  border:none !important;
  font-family: 'Montserrat', sans-serif !important;
  margin-right: 60px !important;
}
.btn-follow{
  width: 120px;
  background-color:rgba(255,255,255,0) !important;
  border-radius: 100px !important;
  border:1px solid white !important;
  font-family: 'Montserrat', sans-serif !important;
}
.albums-card {
  background: rgba(255,255,255,0) !important;
  border: none !important;
}
.albums-title{
  color: rgba(255,255,255,0.7) !important;
  font-size: 12px;
}
.artist-albums{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  color:white;
  margin-bottom: 30px;
}
/*check it later */
